/* 
Layout responsivo (mobile-first)

Sem media query → estilo do celular
min-width: 600px → a partir do tablet
min-width: 1024px → a partir do desktop
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: rgb(62, 97, 126);
    font-family: monospace;
}

h1{
    margin: 5% 0;
    width: 100%;
    font-size: 4rem;
    text-align: center;
}

.present {
  width: 80%;
  height: 30vh;
  margin: 0 auto;     /* centraliza horizontalmente */
  background-color: brown;
  padding: 20px;      /* espaçamento interno normal */
}

figure{
    position: relative;
    top:10px;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width:50%;
    margin-bottom: 25px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.493);
}

figcaption{
    padding-top: 5px;
    background: rgba(136, 105, 105, 0.438);
    border-radius: 4%;
}
h2{
    margin-left: 10%;
    font-size: 2rem;
}
p{
    margin-top: 35px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}
button{

}
a{

}
h3{

}